* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #000;
}

img {
    margin: 20px auto;
    display: block;
}

h2 {
    color: #fff;
    margin: 10px auto;
    width: 290px;
    font-size: 32px;
    text-align: center;
    font-weight: 400;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 62px;
}

input {
    width: 342px;
    height: 74px;
    border-radius: 14px;
    background-color: #545353;
    outline: none;
    border: none;
    line-height: 74px;
    align-items: center;
    color: #fff;
    font-size: 40px;
    padding-left: 16px;

}

input::placeholder {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    padding-left: 16px;

}
/*Remoção das setinhas de aumentar e diminuir chamadas de spinners*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;

}

.result {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    width: 200px;
    margin: 20px auto;
}

button {
    display: block;
    margin: 79px auto;
    width: 342px;
    height: 72px;
    border-radius: 10px;
    background: #AEC346;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    border: none;

}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}